header {
	height: 200px;
	background-color: #343f3e;
	background-image: url(https://static.themoscowtimes.com/image/article_1360/ad/TASS31128345.jpg);
	background-size: cover;
	background-position: 50% 25%;
	margin: 0;

	display: flex;
	justify-content: space-between;
	align-content: center;
}

img.contact-image {
	height: 4em;
	width: 4em;
}

.contact-name {
	margin: 0.125em;
}

#contacts-id {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-grow: 0;
	flex-basis: 20em;
	align-content: center;
}

.inheader {
	height: 150px;
	width: 150px;
	margin: 2%;
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#inhead {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

#wojak-id {
	background-image: url(https://i.imgur.com/O2jIiHu_d.webp?maxwidth=640&shape=thumb&fidelity=medium);
	background-size: contain;
}
